<%
/*********************************************************************************** *
 * MIT License
 *
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */
%>

<form id="addToPlaylistModalForm">
    <div id="addToPlaylistModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Add song to playlist</h4>
            <p>Enter a name for the playlist or select an existing one:</p>
            <div class="row">
                <div class="input-field col s12">
                    <select id="createPlaylistSelector"></select>
                    <label for="createPlaylistSelector">Playlist</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="name" id="createPlaylistPlaylistName" class="validate" autocomplete="off" required>
                    <label for="createPlaylistPlaylistName">Playlist Name</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat modal-close waves-effect waves-light">
                Cancel
            </button>
            <button type="submit" class="btn waves-effect waves-light indigo modal-button-confirm">
                Save
            </button>
        </div>
    </div>
</form>

<script src="/public/js/custom/modal/lib_add_to_playlist.js"></script>
