<%
/*********************************************************************************** *
 * MIT License
 *
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */
%>

<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header active">
            <i class="material-icons">search</i>
            Search
        </div>
        <div class="collapsible-body">
            <div class="row">
                <form class="col s12" id="searchForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="searchTitle" type="text" class="validate">
                            <label for="searchTitle">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="searchArtist" type="text" class="validate">
                            <label for="searchArtist">Artist</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="searchAlbum" type="text" class="validate">
                            <label for="searchAlbum">Album</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="searchGenre" type="text" class="validate">
                            <label for="searchGenre">Genre</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button class="btn grey darken-1 waves-effect waves-light" type="reset" name="action">
                            <i class="material-icons left">clear</i>
                            Clear
                        </button>
                        <button class="btn indigo waves-effect waves-light" type="submit" name="action">
                            <i class="material-icons left">search</i>
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>


<ul class="collection with-header" id="searchResultRenderTarget">
</ul>

<ul class="collection with-header hidden" id="searchResultRenderTargetTemplates">
    <li class="collection-header" id="searchHeaderTemplate">
        <h5>
            <a href="#addAllSearchResultsToQueue" class="indigo-text modal-trigger">
                <i class="material-icons left">playlist_add</i>
            </a>
            <span class="result-count">0</span>
            song(s) found
        </h5>
    </li>
    <li class="collection-item avatar" id="searchResultItemTemplate">
        <i class="material-icons circle indigo">music_note</i>
        <span class="title result-title truncate">{{title}}</span>

        <p class="result-artist">{{artist}}</p>
        <p class="result-length">00:00</p>

        <a href="#!" class="secondary-content indigo-text result-actions">
            <i class="material-icons">more_horiz</i>
        </a>
    </li>
    <li class="collection-item" id="searchResultLoadMoreTemplate">
        <span class="title">Go back to top</span>
    </li>
</ul>

<div class="bottom-spacer">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br></div>

<div class="fixed-action-btn">
    <a href="#!" id="scrollToTop" class="btn-floating btn-large waves-effect waves-light indigo z-depth-3">
        <i class="material-icons">arrow_upward</i>
    </a>
</div>

<div class="modal bottom-sheet" id="addAllSearchResultsToQueue">
    <div class="modal-content">
        <h4>Add <span class="result-count">0</span> item(s) to queue?</h4>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn indigo" id="add-all-confirm">Yes</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>

<script src="/public/js/custom/lib_search.js"></script>
