<%
/*********************************************************************************** *
 * MIT License
 * 
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */
%>
<div class="container">
    <div class="input-group" id="searchBoxTarget">
		<span class="input-group-addon">
			<i class="material-icons">search</i>
		</span>
    </div>
</div>
<div class="container">
    <table class="table table-responsive" id="queueTable">
        <thead>
        <tr>
            <th>Pos</th>
            <th>Title</th>
            <th>Arist</th>
            <th>Album</th>
            <th>Length</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
</div>
<script src="/js/custom/queue.js"></script>
