<%
/*********************************************************************************** *
 * MIT License
 *
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */
%>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <h4>MPD Settings</h4>
            <div class="list-group">
                <button class="list-group-item settings-action" data-action="mpd-rescan-library" data-need-confirm="true">
                    <h4 class="list-group-item-heading">Update Library</h4>
                    <p class="list-group-item-text">
                        If you've recently added songs you might need to rescan your library.
                    </p>
                </button>
                <button class="list-group-item" id="changeOutputsButton">
                    <h4 class="list-group-item-heading">Change Outputs</h4>
                    <p class="list-group-item-text">
                        Enable more than one way to play your music.
                    </p>
                </button>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <h4>Queue & Library</h4>
            <div class="list-group">
                <button class="list-group-item settings-action" data-action="mpd-clear-queue" data-need-confirm="true">
                    <h4 class="list-group-item-heading">Clear Queue</h4>
                    <p class="list-group-item-text">
                        Use this option if you have a large queue to clear.
                    </p>
                </button>
                <button class="list-group-item settings-action" data-action="mpd-generate-full-playlist" data-need-confirm="true">
                    <h4 class="list-group-item-heading">Generate Full Playlist</h4>
                    <p class="list-group-item-text">
                        Use this option to create a playlist with all tracks.<br>
                        You might want to update the library afterwards.
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/js/custom/settings.js"></script>
