<p class="flow-text">
    <b>WE HAVE A SYSTEM FAILURE!
        EVERYONE PANIC!!
        WE ARE ALL GONNA DIE!!!
        AAAAAARGH!!!</b>
</p>
<p class="flow-text">
    Okay, a little overexaggerated... But seriously we had a
    serious error which may or may not have caused the
    web server to crash... I don't know.
</p>
<p class="flow-text">
    If you know the developer or the owner of this server,
    please send them the error detail below so they can
    fix it... maybe.
</p>

<h4>
    Error Detail:
    <small>
        a.k.a. The stuff you should send to the dev
    </small>
</h4>
<dl>
    <dt>Message</dt>
    <dd><%- data.message %></dd>

    <dt>Status</dt>
    <dd><%- data.error.status %></dd>

    <dt>Stack Trace</dt>
    <dd><pre><%- data.error.stack %></pre></dd>
</dl>
